/* App.css */

.mapDiv {
  width: 100vw;
  height: 75vh;
}

.clearButton, .routeButton {
  position: absolute;
  top: 10px;
  left: 10px;
  margin-right: 10px;
  z-index: 1; /* Ensures buttons are above the map */
  padding: 10px;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.clearButton {
  left: 10px;
}

.routeButton {
  left: 90px;
}
